/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    width: auto;

}

.head {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

.carousel {
    width: 100vh;
    height: 100vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position:absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);

}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

body {

    margin: 0 px;
    font-family: sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(106, 110, 109);

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    outline-color: blueviolet;
    gap: 20px;
}



main section {
    border: solid 1px black;

}

p,
a,
li {
    line-height: 1.5em;
    font-size: 1.5em;
}

.footer {
    background-color: black;
    text-align: center;

    padding: 10px;
}

/* makes columns stack with mobile access */
@media screen and (max-width: 900px) {

    main {
       
        grid-template-columns: 1fr;
       
    }
}